@font-face {
 font-family: "Proxima Nova Regular";
 src: url('../fonts/proxima_nova_regular.eot');
 font-weight: normal;
 font-style: normal; 
}
@font-face {
 font-family: "Proxima Nova Regular";
 src: url('../fonts/proxima_nova_regular.woff2') format('woff2');
 font-weight: normal;
 font-style: normal; 
}
@font-face {
 font-family: "Proxima Nova Regular";
 src: url('../fonts/proxima_nova_regular.woff') format('woff');
 font-weight: normal;
 font-style: normal; 
}
@font-face {
 font-family: "Proxima Nova Regular";
 src: url('../fonts/proxima_nova_regular.ttf') format('truetype');
 font-weight: normal;
 font-style: normal; 
}
:root {
 font-size: 62.5%;
 font-family: "Proxima Nova Regular", Tahoma, sans-serif;
 font-weight: 400;
 font-style: normal;
 color: #1e1f26 ;
}
/*=== общая ===*/
*,
*::after,
*::before {
 box-sizing: border-box;
}
html, 
body {
 padding: 0;
 margin: 0;
}
ul, 
li {
 list-style: none;
}
a {
 text-decoration: none;
}
.visually-hidden {
 clip: rect(0 0 0 0);
 overflow: hidden;
 width: 1px;
 height: 1px;
 border: 0;
 margin:-1px;
 padding:0;
 position: absolute;
}
.page {
 -js-display: flex;
 width: 100%;
 display: flex;
    min-height: 100vh;
}
.page--column {
 -js-display: flex;
 flex-direction: column;
}
.page--background {
 position: relative;
 background-color: #ffffff ;
 background-image: url("../img/background.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 background-position: top center;
}
.page--background::before {
 position: absolute;
 content: "";
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: rgba(0, 0, 0, 0.5);
}
.container {
 max-width: 1148px;
 min-width: 878px;
 width: 100%;
 margin: 0 auto;
}
.container--column {
 -js-display: flex;
 flex-direction: column;
 align-items: center;
}
.container--between {
 -js-display: flex;
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
}
.container--center {
 -js-display: flex;
 display: flex;
 justify-content: center;
 padding-bottom: 70px;
}
.header-main {
 width: 100%;
 position: relative;
 color: #ffffff ;
 z-index: 1;
}
.header-main--size {
 max-width: 1148px;
 margin: 0 auto;
 padding: 45px 0 110px;
}
.header-main--pseudo {
 background-image: url("../img/background-header.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 background-position: top center;
 padding: 45px 0 85px;
}
.header-main--pseudo::before {
 position: absolute;
 content: "";
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: rgba(0, 0, 0, 0.5);
}
.header-main__slogan {
 -js-display: flex;
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
 position: relative;
 width: 60%;
 min-width: 680px;
}
.header-main__logo {
 margin: 8px 0;
}
.header-main__inner {
 -js-display: flex;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 width: 85.9%;
}
.header-main__title {
 margin: 0;
 font-size: 2.6rem;
 line-height: 1.5;
 text-transform: uppercase;
}
.header-main__subtitle {
 margin: 0;
 font-size: 1.6rem;
 line-height: 1.5;
}
.result {
 padding-top: 4px;
 font-size: 1.4rem;
 line-height: 1.5;
}
.result--dark {
 display: flex;
 flex-direction: column;
 align-items: center;
 width: 22%;
}
.result--light {
 width: 17.1%;
 min-width: 194px;
 position: relative;
}
.result__row {
 -js-display: flex;
 display: flex;
 flex-wrap: wrap;
}
.result__row--light-indent {
 padding-top: 5px;
 margin-bottom: 6px;
}
.result__col {
 display: inline-block;
 position: relative;
 box-sizing: border-box;
}
.result__col--large {
 width: 107px;
}
.result__col--medium {
 width: 36px;
}
.result__col--small {
 width: 15px;
}
.icon {
 position: absolute;
 content: "";
}
.icon--month-light {
 width: 13px;
 height: 13px;
 top: 2px;
 right: 10px;
 fill: #ffffff ;
}
.icon--grownups-light {
 width: 7px;
 height: 18px;
 top: -3px;
 right: 15px;
 fill: #ffffff ;
}
.icon--children-light {
 width: 6px;
 height: 12px;
 top: 3px;
 right: 0;
 fill: #ffffff ;
}
.btn {
 box-sizing: border-box;
 white-space: nowrap;
 line-height: 1.2;
 border-radius: 50px;
 border: none;
 outline: none;
 transition: 500ms;
 cursor: pointer;
}
.btn:hover {
 background-color: #ac0027 ;
 border: 1px solid #ac0027 ;
}
.btn:active {
 color: #db0536 ;
 background-color: #ffffff ;
}
.btn--result {
 font-size: 1.4rem;
 min-width: 97px;
 padding: 4px 14px;
 color: #ffffff ;
 background-color: #db0536 ;
 border: 1px solid #db0536 ;
}
.btn--catalog {
 display: none;
 position: absolute;
 padding: 10px 43px;
 font-size: 1.6rem;
 top: 41%;
 left: 28%;
 color: #ffffff ;
 background-color: #db0536 ;
 border: 1px solid #db0536 ;
}

.rating {
 -js-display: flex;
 display: flex;
}
.rating--size-small {
 justify-content: flex-end;
 width: 70px;
 padding: 6px 0;
}
.rating__item {
 width: 14px;
 height: 11px;
}
.rating__star {
 width: 11px;
 height: 11px;
 fill: #fdb913 ;
 cursor: pointer; 
}
.form {
 position: relative;
 max-width: 1148px;
 min-width: 878px;
 width: 100%;
 background-color: #ffffff ;
} 
.form--size {
 display: flex;
 justify-content: center;
 padding: 40px 0 75px 0;
}
.form__inner-search {
 -js-display: flex;
 display: flex;
 flex-direction: row;
 align-items: flex-start;
}
.form__inner-search--active {
 border-bottom: 1px solid #a5a7b5 ;
}
.form__inner-search--active:hover {
 border-bottom: 1px solid #35363c ;
}
.form__inner-search--narrow {
 width: 65.5%;
}
.form__search {
 box-sizing: border-box;
 width: 97.7%;
 height: 31px;
 padding: 10px;
 font-family: "Proxima Nova Regular", Tahoma, sans-serif;
 font-size: 1.5rem;
 line-height: 1.2;
 color: #a5a7b5 ;
 border: none;
 outline: none;
 transition: 100ms;
}
.form__icon-search {
 display: inline-block;
 width: 21px;
 height: 31px;
 padding-top: 7px;
 background-color: transparent;
}
.form__svg-search {
 width: 16px;
 height: 16px;
 fill: none;
 stroke: #db0536 ;
 stroke-linecap: round;
 stroke-linejoin: round;
 stroke-width: 2px;
 cursor: pointer;  
}
.catalog {
 -js-display: flex;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
}
.catalog--indent-top {
 margin-top: 3px;
}
.catalog__item {
 position: relative;
 margin-bottom: 12px;
 color: #ffffff ;
}
.catalog__item:hover .btn--catalog {
 display: block;
}
.catalog__item::before {
 position: absolute;
 content: "";
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-image: linear-gradient(to top, rgba(32, 33, 40, 1) 0, transparent 100px);
}
.catalog__image {
 display: block;
 width: 374px;
 height: 237px;
 overflow: hidden;
}
.catalog__features {
 -js-display: flex;
 display: flex;
 justify-content: space-between;
 align-items: flex-start;
 box-sizing: border-box;
 position: absolute;
 width: 100%;
 padding: 18px 16px;
 left: 0;
 bottom: 0px;
}
.catalog__inner {
 -js-display: flex;
 display: flex;
 flex-wrap: wrap;
}
.catalog__inner--left {
 width: 60%;
}
.catalog__inner--right {
 justify-content: flex-end;
 width: 30%;
}
.catalog__title {
 margin: 0;
 font-size: 1.8rem;
 line-height: 1.2;
 font-weight: 600;
}
.catalog__text {
 padding: 0;
 margin: 0;
 font-size: 1.4rem;
 line-height: 1.5;  
}
.catalog__price {
 word-wrap: normal;
 font-size: 1.7rem;
 line-height: 1.5;
}
